<form method="post" action="{{ path('invoice_delete', {'invoiceNumber': invoice.invoiceNumber}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.invoiceNumber) }}">
    <button class="btn">Delete</button>
</form>
