{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>InvoiceNumber</th>
                <th>CreatedAt</th>
                <th>City</th>
                <th>Date</th>
                <th>PaymentDate</th>
                <th>Seller</th>
                <th>Buyer</th>
                <th>BankAccNr</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoiceNumber }}</td>
                <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice.city }}</td>
                <td>{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.paymentDate ? invoice.paymentDate|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.seller }}</td>
                <td>{{ invoice.buyer }}</td>
                <td>{{ invoice.bankAccNr }}</td>
                <td>{{ invoice.notes }}</td>
                <td>
                    <a href="{{ path('invoice_show', {'invoiceNumber': invoice.invoiceNumber}) }}">show</a>
                    <a href="{{ path('invoice_edit', {'invoiceNumber': invoice.invoiceNumber}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invoice_new') }}">Create new</a>
{% endblock %}
