{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.city) }}
    {{ form_row(form.date) }}
    {{ form_row(form.paymentDate) }}
    {{ form_row(form.seller) }}
    {{ form_row(form.buyer) }}
    {{ form_row(form.bankAccNr) }}
    {{ form_row(form.notes) }}

    <h3>Products</h3>
    <ul class="products" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}">
        {% for product in form.products %}
            <li>{{ form_row(product.name) }}</li>
            <li>{{ form_row(product.measurementUnit) }}</li>
            <li>{{ form_row(product.nettoPrice) }}</li>
            <li>{{ form_row(product.vatRate) }}</li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a product" link
        var $addProductButton = $('<button type="button" class="add_product_link">Add a product</button>');
        var $newLinkLi = $('<li></li>').append($addProductButton);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.products');

            $collectionHolder.append($newLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addProductButton.on('click', function(e) {
                addProductForm($collectionHolder, $newLinkLi);
            });

            $collectionHolder.find('li').each(function() {
                addProductFormDeleteLink($(this));
            });
        });

        function addProductForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');

            var index = $collectionHolder.data('index');

            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addProductFormDeleteLink($newFormLi);
        }

        function addProductFormDeleteLink($ProductFormLi) {
            var $removeFormButton = $('<button type="button">Delete this Product</button>');
            $ProductFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                $ProductFormLi.remove();
            });
        }
    </script>
{% endblock %}