{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <h1>Invoice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>InvoiceNumber</th>
                <td>{{ invoice.invoiceNumber }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ invoice.city }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PaymentDate</th>
                <td>{{ invoice.paymentDate ? invoice.paymentDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Seller</th>
                <td>{{ invoice.seller }}</td>
            </tr>
            <tr>
                <th>Buyer</th>
                <td>{{ invoice.buyer }}</td>
            </tr>
            <tr>
                <th>BankAccNr</th>
                <td>{{ invoice.bankAccNr }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ invoice.notes }}</td>
            </tr>
            <tr>
                <th>Products: </th>

                {% if invoice.products %}
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Measurement Unit</b></td>
                            <td><b>Netto Price</b></td>
                            <td><b>VAT</b></td>
                            <td><b>Brutto Price</b></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in invoice.products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.measurementUnit }}</td>
                            <td>{{ product.nettoPrice }}</td>
                            <td>{{ product.vatRate }}</td>
                            <td>{{ product.bruttoPrice }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>Total Price</th>
                        <td>{{ totalPrice |number_format(2) }} zł</td>
                    </tr>
                    </tbody>
                </table>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('invoice_index') }}">back to list</a>

    <a href="{{ path('invoice_edit', {'invoiceNumber': invoice.invoiceNumber}) }}">edit</a>

    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
