<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
{% block body %}
    <h2>
        <a href="{{ path('fos_user_registration_register') }}">
            Register
        </a>
    </h2>
    <h2>
    <a href="{{ path('fos_user_security_login') }}">
        Login
    </a>
    </h2>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
